name: curbo_mobile_utils
description: A proyect libs with components and utils for apps.
version: 0.1.2
homepage: https://www.curbo.do/

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  # Remote api
  http: ^0.13.4
  cached_network_image: ^3.2.1 #3.2.0
  url_launcher: ^6.1.5 #6.0.20

  # Intl
  intl: ^0.18.0

  # Device
  package_info_plus: ^1.4.3+1 #1.4.2
  device_info_plus: ^4.0.3 #3.2.2

  # Collection util
  collection: ^1.16.0

  # UI
  flutter_keyboard_visibility: ^5.3.0 #5.0.3
  country_code_picker: ^3.0.0
  shimmer: ^2.0.0 
  carousel_slider: ^4.1.1 #4.0.0
  photo_view: ^0.14.0 #0.13.0 

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
